*{   
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
}


body{
    background-image: url("image/Full.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.d-flex{
    margin-top: 80px;
    margin-left: 34.5%;
    margin-right: 34.5%;
}

.IndexButton .btn{
    text-decoration: none;
    padding: 0.5rem 4.8rem;
    background: #fff;
    color: #000;
    border-color: rgb(141, 198, 63);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-top: 15px;
}

.IndexButton{
    margin: auto;
    width: 50%;
    text-align: center;
}

.IndexButton .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link{
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.nav-link:hover{
    text-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

.intro_text{
    width: 100%;
    text-align: center;
    margin: 125px auto 125px auto;
}

.intro_text > h1{
    color: white;
}

.intro_mid{
    position: relative;
    top: -66px;
    display: flex;
    width: 80%;
    background-color: red;
    margin: auto;
    list-style: none;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.intro_mid > li{
    flex: 1;
    height: 132px;
    background-color: white;
}

.intro_mid > li > div{
    text-align: center;
    background-color: white;
    margin-top: 37px;
    height: 57px;
}

.intro_mid > li:not(:last-child) > div{
    border-right: 1px solid gray;
}

.intro_mid > li > div > h2{
    color: rgb(141, 198, 63);
    display: inline;
    font-size: 32px;
}

.intro_mid > li > div > h3{
    color: black;
    display: inline;
    font-size: 40px;
    font-weight: 100;
}

.intro_mid > li > div > h4{
    color: orange;
    display: inline;
    font-size: 32px;
}

.intro_main{
    margin-top: -130px;
    width: 100%;
    background-color: white;
    height:auto;
}

.intro_main > h1{
    padding-top: 140px;
    text-align: center;
    font-weight: 250;
}

.SKKU_Sil{
    width: 80%;
    display: flex;
    margin: 30px auto auto auto;
    height: 470px;
    background-color: white;
}

.SKKU_Sil_exp{
    padding: 90px 20px 20px 60px;
    font-size: 17px;
}

.SKKU_Sil_exp > h1{
    display: inline;
    color: rgb(141, 198, 63);
}

.SKKU_Sil_exp > h3{
    font-size: 20px;
    display: inline;
    color: rgb(141, 198, 63);
}

.funcion{
    text-align: center;
    background-color: rgb(243, 243, 243);
    margin-top: -20px;
    width: 100%;
    height: 600px;
}

.funcion > h1{
    padding-top: 70px;
    text-align: center;
    font-weight: 250;
}

.funcion3{
    display: flex;
    width: 80%;
    height: 302px;
    list-style: none;
    margin: auto;
}

.funcion3 > li{
    flex: 1;
    background-color: white;
    height: 302px;
    margin-top: 50px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.funcion3 > li:not(:last-child){
    margin-right: 20px;
}

.funcion_search_icon > img,
.funcion_register_icon > img,
.funcion_studentaid_icon > img{
    width: 120px;
    margin-top: 20px;

}

.funcion_search_icon > h3,
.funcion_register_icon > h3,
.funcion_studentaid_icon > h3{
    margin-top: 15px;
    font-size: 25px;
    color: rgb(141, 198, 63);
}


.studentaid_head{
    position: relative;
    top: -66px;
    display: flex;
    width: 80%;
    background-color: white;
    margin: auto;
    list-style: none;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.studentaid_head > li{
    flex: 1;
    height: 132px;
}

.studentaid_head > li > div{
    text-align: center;
    margin-top: 40px;
    height: 57px;
}

.studentaid_head > li:not(:last-child) > div{
    border-right: 1px solid gray;
}

.studentaid_head > li > div > h2{
    color: rgb(141, 198, 63);
    display: inline;
    font-size: 38px;
    text-decoration: none;
}

.studentaid_head > li > div > h2 > a{
    text-decoration: none;
    cursor: pointer;
}

.studentaid_main{
    margin-top: -130px;
    width: 100%;
    background-color: white;
    height:auto;
}

.studentaid_main > h1{
    padding-top: 140px;
    text-align: center;
    font-weight: 250;
    font-size: 40px;
}

.studentaid_search{
    margin: 60px 10% 20px 0;
    text-align: right;

}

.studentaid_select{
    margin-right: 5px;
    display: inline;
}

.studentaid_select1,
.studentaid_select2{
    height: 35px;
    width: 100px;
    padding: .4em .5em;
    border: 1px solid gray;
    margin: 0 3px;
    border-radius: 0px;
    font-family: inherit;
}

.studentaid_searchbar{
    display: inline;
}

.studentaid_searchbar_search{
    height: 35px;
    width: 250px;
    border: 1px solid gray;
    padding: .4em .5em;
    background-color: white;
    outline: none;
}

.studentaid_searchbar_button{
    background-color: rgb(141, 198, 63);
    color: white;
    height: 35px;
    width: 50px;
    border: 0px;
    outline: none;
}

.studentaid_item_list{
    width: 80%;
    margin: 20px auto 40px auto;
    padding-top: 20px;
}

.studentaid_item_list .table > thead{
    text-align: center;
    background-color: rgb(236, 236, 236);
}

.studentaid_item_list .table > thead > tr > th{
    border-bottom: 1px solid black;
}

.studentaid_item_list .table .item_category{
    width: 120px;
}
.studentaid_item_list .table .item_color{
    width: 80px;
}
.studentaid_item_list .table .item_location{
    width: 250px;
}
.studentaid_item_list .table .item_date{
    width: 130px;
}

.studentaid_item_list .table > tbody > tr{
    transition: 0.4s ease-in-out;
    border-bottom: 1px solid black;
}

.studentaid_item_list .table > tbody > tr > th{
    text-align: center;
    font-weight: 400;
}

.studentaid_item_list .table >tbody .item_title{
    text-align: left;
    padding-left: 40px;
}

.studentaid_item_list .table > tbody > tr:hover{
    background-color: rgb(211, 211, 211);
}

.pagination .page-item{
    border: 1px solid rgb(180, 180, 180);
    margin: auto 2px auto 2px;
    width: fit-content;
    text-align: center;
}

.pagination .page-item .page-link{
    text-align: center;
    color: #000;
}

.studentaid_contact{
    width: 80%;
    margin: 50px auto;
    background-color: rgb(142, 198, 63);
    color: white;
    height:auto;
    padding: 10px 50px;
}

.found_main{
    margin-top: -130px;
    width: 100%;
    background-color: white;
    height:auto;
}

.found_main > h1{
    padding-top: 100px;
    text-align: center;
    font-weight: 250;
    font-size: 40px;
}

.found_search{
    margin: 0 auto 20px auto;
    text-align: center;
    border: 3px solid rgb(141, 198, 63);
    width: 400px;
    padding: 20px 0;
}

.found_select{
    margin-right: 5px;
    display: inline;
}

.found_select1,
.found_select2,
.found_select3{
    height: 35px;
    width: 100px;
    padding: .4em .5em;
    border: 1px solid gray;
    margin: 0px auto 10px auto;
    border-radius: 0px;
    font-family: inherit;
}


.found_date > input{
    height: 35px;
    width: 144px;
    padding: .4em .5em;
    border: 1px solid gray;
    margin: 0 2px;
    border-radius: 0px;
    font-family: inherit;
}

.found_searchbar{
    margin-top: -13px;
}

.found_searchbar_search{
    height: 35px;
    width: 255px;
    border: 1px solid gray;
    padding: .4em .5em;
    background-color: white;
    outline: none;
}

.found_searchbar_button{
    background-color: rgb(141, 198, 63);
    color: white;
    height: 35px;
    width: 52px;
    border: 0px;
    outline: none;
}

.found_item{
    width: 80%;
    margin: 50px auto 50px auto;
}

.found_item .box > h3 {
    text-align: center;
}

/*검색 목록 디자인*/
.wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 7px;
}

.card{
    width: 280px;
    height: 300px;
    padding: 150px 50px 10px 10px;
    background: #fff;
    position: relative;
    display: flex;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: translateY(-20px);
}

.card:before{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(185, 185, 185, 0.575), rgba(34, 34, 34, 0.678));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before{
    opacity: 1;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s all;
}

.card:hover .info{
    opacity: 1;
    transform:  translateY(0px);
}

.card .info h1{
    margin: 0;
}

.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}



/*팝업 공지 관련*/
#popup_layer {position:fixed;top:0;left:0;z-index: 10000; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4);} 
/*팝업 박스*/
.popup_box{position: relative;top:50%;left:50%; width:550px;transform:translate(-50%, -50%);z-index:1002;box-sizing:border-box;background:#fff;box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);}
/*컨텐츠 영역*/
.popup_box .popup_cont {padding:50px;line-height:1.4rem;font-size:14px;word-break: break-word;}
.popup_box .popup_cont h2 {padding:15px 0;color:#333;margin:0;}
.popup_box .popup_cont p{ border-top: 1px solid #666;padding-top: 30px;}
/*버튼영역*/
.popup_box .popup_btn {display:table;table-layout: fixed;width:100%;height:70px;background:#5d5d5d;word-break: break-word;}
.popup_box .popup_btn a {position: relative; display: table-cell; height:70px; color:#fff; font-size:17px;text-align:center;vertical-align:middle;text-decoration:none; background:#102c5c;}
.popup_box .popup_btn a:before{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}
.popup_box .popup_btn a:after{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.popup_box .popup_btn a.close_day {background:#5d5d5d;}
.popup_box .popup_btn a.close_day:before, .popup_box .popup_btn a.close_day:after{display:none;}
/*오버레이 뒷배경*/
.popup_overlay{position:fixed;top:0px;right:0;left:0;bottom:0;z-index:1001;;background:rgba(0,0,0,0.5);} 